$('.alert-success').remove();
<% if @already_voted %>
  $('.span12').prepend('<div class="alert alert-success">\
      <a class="close" data-dismiss="alert">&#215;</a>\
      <div id="flash_notice"><%=@message%></div>\
    </div>');
<%else%>
  $('#total-votes-<%=@post.id%>').html('<%=@post.votes.count%>');
<%end%>
