$('.alert-success').remove();
<% if @already_voted %>
  $('.span12').prepend('<div class="alert alert-success">\
      <a class="close" data-dismiss="alert">&#215;</a>\
      <div id="flash_notice"><%=@message%></div>\
    </div>');
    $("html, body").animate({ scrollTop: "0" });
<%else%>
  $('#total-votes-<%=@comment.id%>').html('<%=@comment.votes.count%>');
<%end%>
